* {
    box-sizing: border-box;
  }
  
  body {
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
  }

  #categories {
    background-color: #FFFFFF;
    display: block;
    width: 440px;
    padding: 24px;
  }

  .item {
    display: block;
    border-radius: 8px;
    width: 392px;
    padding: 16px;
    margin-bottom: 24px;
    background-color: #F6F6FE;

  }

  #categories .item h2 {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; 
    letter-spacing: 0.04em;
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  #categories .item li {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    list-style-type: none;
    border: 1px solid #808080;
    border-radius: 4px;
    display: block;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
  }

  .item > ul {
    padding: 0;
  }



  .gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 1440px;
    width: 100%;
    height: 848px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 48px 24px;
  }

  .gallery li {

    width: calc((100% - 48px)/3); 
    box-sizing: border-box; 
  }

  .gallery img {
    width: 100%; 
    height: auto; 
  }

  p {
    overflow-wrap: anywhere;
  }
  
  input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    height: 40px;
    width: 360px;
    border-radius: 4px;
    border: 1px solid #808080;
  }

  input h1 {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33; 
    letter-spacing: 0.04em;
  }

  input::placeholder {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.04em;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  label {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #4e75ff;
    height: 40px;
    width: 86px;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
}

  #text {
    margin-left: 0;
}

.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.widget > p {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

.change-color {
  display: flex;
  width: 148px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}

#controls {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
  width: fit-content;
  margin-bottom: 16px;
}

#controls input {
  display: flex;
  padding: 8px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.04em;
}

button[data-create] {
  display: flex;
  width: 120px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
}

button[data-destroy] {
  display: flex;
  width: 120px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #ff4e4e;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  border: none;
}

#boxes {
  display: flex;
  width: fit-content;
  padding: 32px;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: #f6f6fe;
}